body { 
	max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
}

html, body {
height: 100%;
margin: 10px;
}

html {
display: table;
margin: left;
}

#pgsInput{
    display: none;
}

#pgsDiv {
  clear: both;

  position: relative;
  border-left: 0px;
  border-right: 0px;
  margin-left:-10px;
}

#pgsArea{
    width: 100%;
    color: lime;
    background-color: black;
    height: 20em;
    font-size: small;
    margin-top: 10px;
}

#genomArea{
    width: 100%;
    height: 10em;
    font-size: small;
    margin-top: 10px;
}

#resDiv{
    border-width: 2px; 
    border-style: solid; 
    padding: 0.7em;
    
}
.result-ok{
    color: blue; 
    border-color: green; 
    
}
.result-empty{
    color: red; 
    border-color: #FF0000; 
}

p {
    color:navy;
}

h1 {
    color:brown;
    font-size:x-large;
}

h2 {
    color:maroon;
    font-size:large;
}

h3 {
    color:#5e0096;
    font-size:medium;
    font-weight:bold;
}
h4 {
    color:#00968a;
    font-size:large;
}
code {
    color:green;
    font-style:italic;
}

a:hover {
    background-color:yellow;
    color:red
}


.label {
    color:blue
}

input {
    color:blue
}



