body {
  color:black
}
h1 {
  color:navy;
  font-weight: bold;
  font-size: 20px;
}
h2,h3 {
  color:brown
}

h4 {
  color:gray
}

.info {
  font-size:small
}

li,p {
  color:navy
}

textarea {
  width: 600px;
  height: 100px;
}

#drop_zone {
    padding: 20px;
    border-style: dotted;
    border-width: 4px;
    width: 200px;
    text-align: center;
  }

  label {
    cursor: pointer;
  }
  
  textarea {
    width: 800px;
    height: 100px;
  }