body { 
	max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
}

html, body {
height: 100%;
margin: 10px;
}

html {
display: table;
margin: left;
}


#pgsDiv {
  clear: both;

  position: relative;
  border-left: 0px;
  border-right: 0px;
  margin-left:-10px;
}

p {
    color:navy;
}

h1 {
    color:brown;
    font-size:x-large;
}

h2 {
    color:maroon;
    font-size:large;
}

h3 {
    color:#5e0096;
    font-size:medium;
    font-weight:bold;
}
h4 {
    color:#00968a;
    font-size:large;
}
code {
    color:green;
    font-style:italic;
}

a:hover {
    background-color:yellow;
    color:red
}


.label {
    color:blue
}

input {
    color:blue
}


.active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

